<!--<div class="col-xs-3" style="padding: 0px">-->
    <!--<div class="block block-drop-shadow" >-->

        <!--<div class="head bg-dot30">-->
            <!--<h2>Administrative Areas</h2>-->

            <!--<div class="head-panel">-->
                <!--<div class="chart" id="dash_chart_2" style="height: 70px;">-->

                    <!--<div class="head">-->
                        <!--<div class="head-panel nm">-->
                            <!--<div class="hp-info pull-left">-->

                                <!--<span class="hp-main">25</span>-->
                                <!--<span class="hp-sm">Regions</span>-->
                            <!--</div>-->
                            <!--<div class="hp-info pull-left">-->

                                <!--<span class="hp-main" style="margin-left: 35px;">136</span>-->
                                <!--<span class="hp-sm" style="margin-left: 35px;">Districts</span>-->
                            <!--</div>-->
                            <!--<div class="hp-info pull-left">-->

                                <!--<span class="hp-main" style="margin-left: 35px;">1,204</span>-->
                                <!--<span class="hp-sm" style="margin-left: 35px;">Wards</span>-->
                            <!--</div>-->
                            <!--<div class="hp-info pull-left">-->

                                <!--<span class="hp-main">43424</span>-->
                                <!--<span class="hp-sm">Villages</span>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->
<!--<div class="col-xs-3">-->
    <!--<div class="block block-drop-shadow">-->
        <!--<div class="head bg-default bg-light-ltr">-->
            <!--<h2>Coupons</h2>-->
            <!--<div class="head-panel">-->
                <!--<div class="chart" id="dash_chart_1" style="height: 70px;">-->
                    <!--<div class="hp-info pull-left">-->

                        <!--<span class="hp-main" style="margin-left: 35px;">12,480</span>-->
                        <!--<span class="hp-sm" style="margin-left: 35px;">Coupons</span>-->
                    <!--</div>-->
                    <!--<div class="hp-info pull-left">-->

                        <!--<span class="hp-main" style="margin-left: 35px;">10,140</span>-->
                        <!--<span class="hp-sm" style="margin-left: 35px;">Imported Coupons</span>-->
                    <!--</div>-->
                    <!--<div class="hp-info pull-left">-->

                        <!--<span class="hp-main" style="margin-left: 35px;">1,204</span>-->
                        <!--<span class="hp-sm" style="margin-left: 35px;">Verified Coupons</span>-->
                    <!--</div>-->
                    <!--<div class="hp-info pull-left">-->

                        <!--<span class="hp-main" style="margin-left: 35px;">424</span>-->
                        <!--<span class="hp-sm" style="margin-left: 35px;">Redeemed Coupns</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="col-xs-3" style="padding: 0px">-->
    <!--<div class="block block-drop-shadow" >-->

        <!--<div class="head bg-dot30">-->
            <!--<h2>Distribution Status/Timeline</h2>-->

            <!--<div class="head-panel">-->
                <!--<div class="chart" id="dash_chart_2" style="height: 70px;"></div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

<!--<div class="col-xs-3">-->
    <!--<div class="block block-drop-shadow">-->
        <!--<div class="head bg-default bg-light-ltr">-->
            <!--<h2>Coupons</h2>-->
            <!--<div class="head-panel">-->
                <!--<div class="chart" id="dash_chart_1" style="height: 70px;">-->
                    <!--<div class="hp-info pull-left">-->
                        <!--<span class="hp-main" style="margin-left: 35px;">12,480</span>-->
                        <!--<span class="hp-sm" style="margin-left: 35px;">Coupons</span>-->
                    <!--</div>-->
                    <!--<div class="hp-info pull-left">-->

                        <!--<span class="hp-main" style="margin-left: 35px;">10,140</span>-->
                        <!--<span class="hp-sm" style="margin-left: 35px;">Imported Coupons</span>-->
                    <!--</div>-->
                    <!--<div class="hp-info pull-left">-->

                        <!--<span class="hp-main" style="margin-left: 35px;">1,204</span>-->
                        <!--<span class="hp-sm" style="margin-left: 35px;">Verified Coupons</span>-->
                    <!--</div>-->
                    <!--<div class="hp-info pull-left">-->

                        <!--<span class="hp-main" style="margin-left: 35px;">424</span>-->
                        <!--<span class="hp-sm" style="margin-left: 35px;">Redeemed Coupns</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="col-xs-6">
    <div class="block block-drop-shadow">

        <div class="head bg-dot30">
            <h2>Distribution Summary</h2>
            <div class="head-panel">
                <div class="chart" id="dash_chart_2" style="height: 250px;">

                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-xs-6">
    <div class="block block-drop-shadow">

        <div class="head bg-dot30">
            <h2>Coupons Quality</h2>
            <div class="head-panel">
                <div class="chart" id="dash_chart_2" style="height: 250px;"></div>
            </div>
        </div>

    </div>
</div>

