<div class="row">
    <div class="col-md-8">

        <div class="block">
            <div class="head bg-dot20">
                <h2>Timeline</h2>

            </div>
            <div class="content controls bg-dot20">

            </div>
            <div class="timeline">
                <div class="timeline-item" ng-repeat="timeline in timelineactivity | filter:search">
                    <div class="timeline-icon">
                        <span ng-if="timeline.status == 1" class="icon-ok text-success"></span>
                        <span ng-if="timeline.status == 0" class="icon-comment text-primary"></span>
                    </div>
                    <div class="timeline-info">
                        <div class="timeline-info-content">
                            <p class="timeline-info-title"><img src="img/malaria_haikubaliki.png" class="img-circle img-thumbnail" style="height: 40px;width: 40px"/> From {{ timeline.start_date | date:'d MMM yyyy' }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To  {{ timeline.end_date | date:'d MMM yyyy' }} </a>:</p>
                            <p class="text-muted">{{ timeline.discr }}</p>
                        </div>
                        <div class="timeline-info-date">Created at {{ timeline.created_at | date:'d MMM yyyy' }} by {{ timeline.created_by }}</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="block block-transparent block-drop-shadow">
            <div class="head bg-dot20">
                <div class="input-group">
                    <div class="input-group-addon"><span class="icon-search"></span></div>
                    <input type="text" ng-model="search" class="form-control" value="" placeholder="what you are locking for?"/>
                </div>
            </div>
        </div>

        <div class="block block-transparent">
            <div class="content np">
                <div class="datepicker"></div>
            </div>
        </div>
    </div>
</div>
        